<nav class="navbar d-flex flex-column navbar-expand-lg navbar-dark pt-4">
  <div
    class="container-fluid d-flex justify-content-between align-items-center container"
  >
    <a class="navbar-brand" href="#">
      <img
        [src]="imgLogo"
        alt="Portal Stylo"
        height="50"
        class="d-inline-block align-text-top"
      />
    </a>

    <div class="input-group">
      <input type="text" class="form-control" placeholder="Buscar no site" />
      <span class="input-group-text">
        <i class="bi bi-search"></i>
      </span>
    </div>

    <ul class="navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="bi bi-instagram"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="bi bi-facebook"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="bi bi-youtube"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="bi bi-twitter"></i></a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse container mt-3" id="navbarNav">
    <ul class="navbar-nav categories">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/home']"
          routerLinkActive="nav-link-active"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Estado</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Município</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Nacional</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Política</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Saúde</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Polícia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Enquetes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Entretenimento</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/section-page']"
          routerLinkActive="nav-link-active"
          >Colunista</a
        >
      </li>
    </ul>
  </div>
</nav>
