<div
  class="no-img-highlight d-flex align-items-center flex-{{ flexType }} "
  [ngClass]="theme"
>
  <div *ngFor="let item of news; let i = index">
    <div
      class="card-news d-flex"
      [ngClass]="{
        'first-item': i === 0,
        'white-theme': theme === 'white' && i === 0
      }"
    >
      <span *ngIf="item.id" class="number">{{ item.id }}</span>
      <div>
        <span class="news-title-side mt-3">{{ item.title }}</span>
        <p class="description-side">{{ item.description }}</p>
      </div>
    </div>
  </div>
</div>
