.main-content {
  width: 100%;
  border-radius: 0px 8px 0px 8px;
  font-family: "Montserrat", sans-serif;
}
.main-content .section-name {
  padding-top: 2rem;
  gap: 1rem;
  padding-bottom: 2rem;
  padding-left: 0.5rem;
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
}

.divider {
  width: 4px;
  height: 6rem;
}

.main-content .section-name .icon-representing-ul {
  width: 18px;
  height: 21px;
  border-radius: 0px 4px 0px 4px;
}

.main-content.red {
  background-color: #cc0000;
  color: #ffffff;
}

.main-content.red .section-name {
  color: #ffff;
}

.main-content.red .section-name .icon-representing-ul {
  background-color: #afa9a9;
}
.main-content.red .divider {
  background-color: #ffff;
}
.main-content.red h5,
.main-content.red .news-title,
.main-content.red .description {
  color: #ffff;
}

.main-content.white {
  background-color: #ffffff;
}

.main-content.white .section-name {
  background-color: #ffffff;
}

.main-content.white .icon-representing-ul {
  background-color: #cc0000;
}

.main-content.white .news-title {
  color: #cc0000;
  font-weight: 600;
  text-transform: uppercase;
}

.main-content.white h5,
.main-content.white .description {
  color: #000000;
}
.main-content.white .divider {
  background-color: #cc0000;
}
