.card-body-items {
  padding: 0;
  border-radius: 0px 8px 0px 8px;
  font-family: Roboto, sans-serif;
}
img {
  border-radius: 0px 9px 0px 9px;
  width: 200px;
  height: 200px;
}
.card-body-items:hover {
  background-color: #ffffff;
  padding: 0;
  cursor: pointer;
}
.info-section {
  width: 80%;
}
.card-body-items {
  transition: transform 0.3s ease;
}

.card-body-items:hover {
  transform: scale(1.03);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.report-name {
  font-weight: 600;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}
.img-large {
  width: 100%;
  max-width: 800px;
  transition: transform 0.3s ease;
  transform: scale(1.1);
}

img.showcontent {
  width: 950px;
  height: 500px;
}

.report-content.showcontent {
  max-width: 100%;
}
.report-date-published {
  font-size: 12px;
  color: #636363b2;
}
