<div class="reportagens-container">
  <app-card-section-page [colunist]="colunist"></app-card-section-page>
  <hr class="hr" />
  <div *ngFor="let report of reportagens">
    <app-report-card [report]="report"></app-report-card>
  </div>
  <div class="only-img-highlight">
    <span class="align-self-start publicity">Publicidade</span>

    <div class="d-flex">
      <div class="col-lg-4">
        <img src="https://placehold.co/300x300" class="img-fluid" alt="..." />
      </div>
      <div class="col-lg-4">
        <img src="https://placehold.co/300x300" class="img-fluid" alt="..." />
      </div>
      <div class="col-lg-4">
        <img src="https://placehold.co/300x300" class="img-fluid" alt="..." />
      </div>
    </div>
  </div>
</div>
