<div class="homepage">
  <div class="main-content mt-4">
    <div class="row">
      <div>
        <div class="section-name d-flex align-items-center">
          <div class="icon-representing-ul"></div>
          <h5>DESTAQUES</h5>
        </div>
        <app-destaques></app-destaques>
        <div class="section-name d-flex align-items-center">
          <div class="icon-representing-ul"></div>
          <h5>MAIS LIDAS</h5>
        </div>
        <app-most-read></app-most-read>
        <app-container-information
          theme="red"
          sectionName="Política"
        ></app-container-information>
        <app-container-information
          sectionName="Geral"
        ></app-container-information>
      </div>
    </div>
  </div>
</div>
