<app-navbar></app-navbar>
<div class="container">
  <img src="https://placehold.co/1536x155" class="img-fluid" alt="..." />
  <link
    rel="stylesheet"
    type="text/css"
    media="screen"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  />
  <div class="row mt-4">
    <div class="col-md-8 col-lg-8">
      <router-outlet />
    </div>
    <aside class="col-md-4 col-lg-4">
      <app-aside></app-aside>
    </aside>
  </div>
  <app-cookie-notice></app-cookie-notice>
</div>
