<footer class="text-center text-lg-start">
  <section>
    <div class="container text-center text-md-start pt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <img src="../../../../assets/logo.png" alt="Portal Stylo Logo" />
          <p>
            Seu destino para informações confiáveis, atualizadas e relevantes.
            Mantenha-se informado com notícias de diversas áreas e explore
            análises aprofundadas, entrevistas exclusivas e conteúdos
            envolventes.
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text fw-bold mb-4">Transparência</h6>
          <p>
            <a href="#!" class="text-reset">Política de privacidade</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Termos de uso</a>
          </p>
          <div class="col-md-12 col-lg-12 col-xl-12 mx-auto mb-4 mt-5">
            <h6 class="text fw-bold mb-4">Acesso Interno</h6>
            <p>
              <a href="#!" class="text-reset">Painel Administrativo</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Webmail</a>
            </p>
          </div>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text fw-bold mb-4">Mapa do site</h6>
          <p>
            <a href="#!" class="text-reset">Home</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Política</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Saúde</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text fw-bold mb-4">Localização</h6>
          <img src="../../../../assets/localizacao-mapa.png" alt="" />
          <p><i class="bi bi-arrow-up-circle"></i> Veja no mapa</p>
          <p>
            <i class="bi bi-envelope me-3"></i> contato&#64;portalstylo.com.br
          </p>
          <p><i class="bi bi-phone me-3"></i> (63) 98407-0155</p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: #5b5b5b">
    © Copyright 2023 Portal Stylo. Todos os direitos reservados
  </div>
</footer>
