aside {
  border-left: 1px solid #c9c7c7;
}

.content-aside {
  display: flex;
  flex-direction: column;
}
.publicity {
  font-weight: 600;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  color: #1b151480;
}
